#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input form{
    padding:5px 0 5px 5px;
    margin:0;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    width:200px;

}



#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
#custom-search-input-after input{
    border: 0;
    box-shadow: none;
}
#custom-search-input-after{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input-after form{
    padding:5px 0 5px 5px;
    margin:0;
}

#custom-search-input-after input{
    border: 0;
    box-shadow: none;
    min-width: 100%;

}



#custom-search-input-after button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input-after button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input-after .glyphicon-search{
    font-size: 23px;
}

#search_results {
    margin-left: 0;
    margin-right: 0;

}
.search-bar-pushed{
    margin-top: 10px;
    margin-left:60px;
}

.search-bar{
    width:300px;
    position:absolute;
    left:50%;
    top:30%;
    margin:50px 0 0 -150px;
}
.search-logo{
    margin-top: 2px;
    float:left;
}
.title-padding{
    top:10%;
    padding-left: 37px;
}

#map {
    height: 100%;
    min-width:200px;
    width: 100%;
}
.img_holder{
    background-color: #b3cccc;
    height: 90px;
    width: 90px;
}


#result-item.results_list{
    margin-top: 10px;
    padding: 0px;
    outline: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: row;

}
.result_listing{
    overflow:scroll;
}
.name_holder{
    background-color: #f29bac;
    height:26px;
    margin-left: 5px;

}
.address_holder{
    background-color: #f243b2;
    height:26px;
    width: 40%;

    margin-left: 5px;
}
.rating_holder{
    background-color: #f2824c;
    height:26px;
    width: 40%;
    margin-left: 5px;
}

.distance_holder{
    background-color: #f2d424;
    height:90px;
    line-height: 90px;
    margin-right: 20px;
    padding-bottom: 20px;

}
.info_holder,
.quote_holder{
    flex-grow: 1;
}

.quote_holder{
    width:50px;
    height: 50px;
    vertical-align: middle;
}