body, html{
    height: 100%;
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input form{
    padding:5px 0 5px 5px;
    margin:0;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    width:200px;

}



#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
#custom-search-input-after input{
    border: 0;
    box-shadow: none;
}
#custom-search-input-after{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input-after form{
    padding:5px 0 5px 5px;
    margin:0;
}

#custom-search-input-after input{
    border: 0;
    box-shadow: none;
    min-width: 100%;

}



#custom-search-input-after button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input-after button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input-after .glyphicon-search{
    font-size: 23px;
}

#search_results {
    margin-left: 0;
    margin-right: 0;

}
.search-bar-pushed{
    margin-top: 10px;
    margin-left:60px;
}

.search-bar{
    width:300px;
    position:absolute;
    left:50%;
    top:30%;
    margin:50px 0 0 -150px;
}
.search-logo{
    margin-top: 2px;
    float:left;
}
.title-padding{
    top:10%;
    padding-left: 37px;
}

#map {
    height: 100%;
    min-width:200px;
    width: 100%;
    border-left: 1px solid #ccc;
}
.img_holder{
    background-color: #a6a6a6;
    height: 120px;
    width: 120px;
}


#result-item.results_list{
    margin-top: 10px;
    padding: 0px;
    outline: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: row;

}
#result-item.results_list:first-child{
    margin-top: 10px;
}
.result_listing{
    margin-top: 10px;
    overflow-y:scroll;
    flex-grow: 1;
}
.name_holder{
    height:26px;
    margin-left: 5px;
    font-size: 120%;

}

a:link, a:hover, a:visited{
    color:#000000;
    text-decoration: none;
}
.address_holder{
    height:21px;
    width: 100%;
    margin-left: 5px;
    padding-bottom: 15px;
}
.rating_holder{
    height:20px;
    width: 40%;
    margin-left: 5px;
    margin-bottom: 5px;
}

.distance_holder{
    height:90px;
    line-height: 90px;
    margin-right: 20px;
    margin-top: 15px;
    vertical-align: middle;

}

.img{
    width:120px;
    height:120px;
}

.info_holder,
.quote_holder{
    flex-grow: 1;
}

.quote_holder{

    height: 40px;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 80%;
    
}

.results_column{
    display: flex;
    flex-direction: column;
    height:100%;
    overflow-y:scroll;
}